################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
!/bin/data
!/bin/data/images
/obj
/.vs
/Log
